.recipe-home {
    background-color:none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: calc(var(--ion-safe-area-bottom, 0px) + 20px);
}

.recipe-home ion-button{
    width: 100px;
    height: 40px;
}
.img-det{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.card-det{
    --background: rgba(255, 255, 255, 0.7);
}

.card-det h5{
  color: #f96bb7;
}

.card-det h1{
  color: #f70284;
}

.card-det h2{
  color: #f96bb7;
}

.card-det li{
  color: #f70284;
}
