.recipe-home {
    //background-color:#f782d4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    margin-bottom: calc(var(--ion-safe-area-bottom, 0px) + 20px);
}

.recipe-home ion-button{
    width: 100px;
    height: 40px;
  
}

.bufo{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.bufo img{
  width: 200px;
  height: 200px;
}

.card-fav{
  --background: rgba(255, 255, 255, 0.7);
}

.card-fav img{
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.bufo-fav{
  position: fixed;
  bottom: calc(var(--ion-safe-area-bottom, 0px) + 8px);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  pointer-events: none;
  z-index: 1;
  padding-right: 16px;
  box-sizing: border-box;
}
.bufo-fav img{
  width: 100px;
  height: 100px;
}

.title-with-image {
  display: flex;
  align-items: center;
  width: fit-content;
}

.title-image {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  object-fit: cover;
}

.card-fav h1{
  color: #f70284;
}

.card-fav h2{
  color: #f96bb7;
}

.card-fav li{
  color: #f70284;
}

.card-fav h5{
  color: #f96bb7;
}

