<ion-header [translucent]="true">

<ion-toolbar >
  </ion-toolbar>
  
  <ion-toolbar>
    <div class="title-with-image">
    <ion-title>Favourites</ion-title>
    <img src="assets/bufo/bufo-wishes-you-a-happy-valentines-day.png" alt="Bufo" class="title-image">
    </div>
<!--Home button-->
    <ion-button slot="end" fill="solid" aria-label="home" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
<!--Settings button-->
    <ion-button slot="end" fill="solid" aria-label="Settings" routerLink="/settings">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <!-- Background fruit rain -->
  <div class="fruit-rain">
    <span>🍎</span>
    <span>🍌</span>
    <span>🍇</span>
    <span>🍉</span>
    <span>🍓</span>
    <span>🍍</span>
    <span>🥭</span>
    <span>🍒</span>
    <span>🍑</span>
    <span>🍊</span>
  </div>
  
<!--Display each recipe in a card layout-->
<!--Looping through the favourites array-->
 <ion-card class="card-fav" *ngFor="let recipe of favourites">
    <!--Shows recipe image dynamically-->
    <img [src]="recipe.image" alt="{{ recipe.title }}">
    <!--Display recipe title-->
    <ion-card-header>
      <h5>✔️ Recipe name:</h5>
      <h1>{{ recipe.title }}</h1>
    </ion-card-header>

    <ion-card-content>
      <h2>🧂 Ingredients:</h2>
      <!--Loops through recipe ingredients-->
      <ul>
        <li *ngFor="let ing of recipe.extendedIngredients">
          <!--Shows ingredient description-->
          {{ ing.original }}
          <!--Displays amoutn depending on unit system-->
          ({{ unitSystem === 'Metric'   
      ? ing.measures.metric.amount + ' ' + ing.measures.metric.unitLong 
      : ing.measures.us.amount + ' ' + ing.measures.us.unitLong }})
        </li>
      </ul>

      <h2>📝 Instructions:</h2>
      <!--Loops through recipe instruction-->
      <div *ngFor="let instr of recipe.analyzedInstructions">
        <!--Loops through multiple steps. Displayed in a list-->
        <div *ngFor="let step of instr.steps">
        <ul>
          <li>Step {{ step.number }}: {{ step.step }}</li>
        </ul>
        </div>
        
      </div>

      <!--Remove button, call the method remove recipe by id-->
    <ion-button class="button-fav" (click)="remove(recipe.id)">
      Remove from
      <ion-icon slot="end" name="heart" ></ion-icon>
    </ion-button>


    </ion-card-content>

  </ion-card>

<!--Another home button-->
<div class="recipe-home">
<ion-button routerLink="/home">
  <ion-icon slot="icon-only" name="home"></ion-icon>
</ion-button>
</div>

<!--Bufo image at the bottom-->
<div class="bufo-fav">
<img src="assets/bufo/bufo-di-beppo.png">
</div>
</ion-content>
