.recipe-home {
    background-color:#f782d4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.recipe-home ion-button{
    width: 100px;
    height: 40px;
    --background: #f7f5f6;
    
}