/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-content {
  --background: #f782d4; /* soft green */
  --color: #f8f4f4;
}

ion-toolbar {
  --background: #f746c2; /* soft green */
  --color: #f1eaea;         /* text/icon color */
}

ion-button{
    --color: #f414cb;
    --background: #f7f5f6;
}
ion-button:hover {
  transform: scale(1.1);   /* slightly bigger */
  transition: transform 0.2s ease-in-out; /* smooth animation */
}

ion-content ion-button {
  --background: #f9f8f7;  /* orange for content buttons */
  --color: #f414cb;
  font-weight: 600;
}

ion-toolbar ion-button:hover {
  transform: scale(1.1);   /* bigger scale for toolbar buttons */
  transition: transform 0.2s ease-in-out;
}

ion-content ion-button:hover {
  transform: scale(1.03);  /* smaller scale for content buttons */
  transition: transform 0.2s ease-in-out;
}



