/* No use of formatting this file

*/

.title-with-image {
  display: flex;
  align-items: center;
  width: fit-content;
}

.title-image {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  object-fit: cover;
}

.ingredient-input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  height: 40vh;
  position: relative;
  }

.ingredient-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.ingredient-section h4{
  font-weight: bolder;
}

.search-button{
  display: flex;
  justify-content: center;
   align-items: center;
}
.search-button ion-button {
  width: 120px;   /* fixed width */
  height: 40px;   /* fixed height */
  font-size: 14px;
  background-color: var(--ion-color-primary);
  border-radius: 10px;
}

ion-searchbar{
  --background: var(--ion-background-color, #f593d4);
}

.bufo{
  position: fixed;
  bottom: calc(var(--ion-safe-area-bottom, 0px) + 11px);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  box-sizing: border-box;
  z-index: 1;
}
.bufo img{
  width: 100px;
  height: 100px;
}


//---Details Page Styles---

.details{
  --background: rgba(255, 255, 255, 0.7);
}

.details ion-card-title{
  color: #f505b5;
  margin: 10px;
}
.details p{
  font-size: 16px;
  margin: 20px;
  text-align: justify;
  color: #f70284;
}

.details img{
  height: 300px;
  width: 400px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}