<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00439460</ion-title>

    <ion-button slot="end" fill="solid" aria-label="Favorites" routerLink="/favourites">
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>

    <ion-button slot="end" fill="solid" aria-label="Settings" routerLink="/settings">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

 <ion-content class="ion-padding">
  
<!-- Ingredient Input Section -->  
  <ion-card>
  <div class="ingredient-section">
    <h4>Enter Ingredients</h4>
    <ion-searchbar 
    type="text"
    name="ingredients"
      [(ngModel)]="ingredients"
      placeholder="Type 🍅, 🧅, 🍌"
      clear-input="true">
    </ion-searchbar>    
</div>
</ion-card>

<!-- Serch button-->
   <div class="search-button">
    <ion-button (click)="searchRecipes()">
      SEARCH
    </ion-button>
</div>

<!--Recipe cards-->
<div *ngFor="let recipe of recipes">
    <ion-card>
      <img [src]="recipe?.image" alt="{{ recipe.title }}">
      <ion-card-header>
        <ion-card-title>{{ recipe?.title }}</ion-card-title>
      </ion-card-header>
      <p>{{ recipe?.summary }}</p>
        <ion-card-content>
      <!-- <p>ID: {{ recipe.id }}</p> --> 
        <ion-button fill="outline" [routerLink]="['/recipe-details', recipe.id]">
          Details
        </ion-button>
      </ion-card-content>   
    </ion-card>
  </div>
</ion-content>



