#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #e86daf;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #e86daf;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.title-with-image {
  display: flex;
  align-items: center;
  width: fit-content;
}

.title-image {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  object-fit: cover;
}

.ingredient-input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  height: 40vh;
  position: relative;
}

.ingredient-section{
  display: flex;
justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-right: 1px;
  margin-left: 10px;
}

.ingredient-section h4{
  color: #e86daf;
  font-weight: bolder;
}

.search-button{
  display: flex;
  justify-content: center;
   align-items: center;
}
.search-button ion-button {
  width: 120px;   /* fixed width */
  height: 40px;   /* fixed height */
  font-size: 14px;
}


.bufo{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.bufo img{
  width: 100px;
  height: 100px;
}


ion-card-title{
  color:#f505b5;
}

.details{
  --background:rgba(255, 255, 255, 0.7);
}

.details p{
  font-size: 16px;
  margin: 10px;
  color: #e86daf;
}

.button-det{
  --background: #f505b5;
  --color: white;
}
.details img{
  height: 300px;
  width: 400px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}