<ion-header [translucent]="true">

  <ion-toolbar >
  </ion-toolbar>  
  
  <ion-toolbar>

    <div class="title-with-image">
      <ion-title>Bufo Recipe Finder</ion-title>
      <img src="assets/bufo/bufo-noodles.gif" alt="Bufo" class="title-image">
    </div>

<!-- Favorites button in header -->
    <ion-button slot="end" fill="solid" aria-label="Favorites" routerLink="/favourites">
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
<!-- Settings button in header -->
    <ion-button slot="end" fill="solid" aria-label="Settings" routerLink="/settings">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

 <ion-content class="ion-padding">

  <!-- Background fruit rain -->
  <div class="fruit-rain">
    <span>🍎</span>
    <span>🍌</span>
    <span>🍇</span>
    <span>🍉</span>
    <span>🍓</span>
    <span>🍍</span>
    <span>🥭</span>
    <span>🍒</span>
    <span>🍑</span>
    <span>🍊</span>
  </div>

<!-- Ingredient Input Section -->  
 <div class="ingredient-input-section">
  <ion-card>
  <div class="ingredient-section">
    <!-- Title -->
    <h4>👉 Enter Ingredients</h4>
    <!-- Serch bar -->
      <!-- Input type text -->
      <!-- Input name -->
        <!-- Two-way binding to 'ingredients' variable -->
      <!-- Adds clear button -->
        <ion-searchbar 
    type="text"  
    name="ingredients"
      [(ngModel)]="ingredients"
      placeholder="Type 🍅, 🧅, 🍌"
      clear-input="true">
    </ion-searchbar>    
</div>
</ion-card>
</div>
<!-- Serch button-->
   <div class="search-button">
     <!-- Calls searchRecipes() method on click -->
    <ion-button (click)="searchRecipes()">
      SEARCH🔍
    </ion-button>
</div>

<!--Recipe cards section-->
  <!-- Loops through 'recipes' array -->
<div *ngFor="let recipe of recipes">
    <!-- Card for each recipe -->
    <ion-card class="details">
      <!-- Recipe image -->
      <img [src]="recipe?.image" alt="{{ recipe.title }}">
      <ion-card-header>
        <!-- Recipe title -->
        <ion-card-title>😋{{ recipe?.title }}</ion-card-title>
      </ion-card-header>
          <!-- Recipe summary text -->
      <p>{{ recipe?.summary }}</p>

        <ion-card-content>
      <!-- Details button linking to recipe details page -->
        <ion-button class="button-det" fill="solid" [routerLink]="['/recipe-details', recipe.id]">
          Details
        </ion-button>
      </ion-card-content>   
    </ion-card>
  </div>
  <div class="bufo">
<img src="assets/bufo/bufo-loves-rice-and-beans.png">
<img src="assets/bufo/bufo-offers-a-piece-of-cake.png">
</div>
</ion-content>



