#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #e86daf;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #e86daf;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.ingredient-section{
  display: flex;
justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-right: 1px;
  margin-left: 10px;
}

.search-button{
  display: flex;
  justify-content: center;
   align-items: center;
}
.search-button ion-button {
  width: 100px;   /* fixed width */
  height: 40px;   /* fixed height */
  font-size: 14px;
}


