.recipe-home {
    //background-color:#f782d4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.recipe-home ion-button{
    width: 100px;
    height: 40px;
    --background: #f7f5f6;
    
}

.bufo{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.bufo img{
  width: 100px;
  height: 100px;
}

.settings {
    --background:rgba(255, 255, 255, 0.7);
}

.settings h1{
color:#ee32f8;
margin-left: 50px;
}
.label{
    color:#ee32f8;
}