<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
<ion-button slot="end" fill="solid" aria-label="home" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>

    <ion-button slot="end" fill="solid" aria-label="favourites" routerLink="/favourites">
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-card>
        <h1>Select the Unit System Measurements:</h1>
 <ion-list>
    <ion-radio-group [(ngModel)]="unitSystem" (ionChange)="changeUnitSystem($event.detail.value)">
      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio slot="start" value="Metric"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Imperial</ion-label>
        <ion-radio slot="start" value="Imperial"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

  <div class="recipe-home">
<ion-button routerLink="/home">
  <ion-icon slot="icon-only" name="home"></ion-icon>
</ion-button>
</div>
</ion-content>

